<div fxLayout="row" class="counter-container">
  <div fxLayout="column" fxLayoutAlign="space-between start" class="hour-counter">
    <div fxLayout="row" class="header">
      Voting ends in
    </div>
    <div fxLayout="row">
      ## DAYS
      ##:##:##
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between end" class="money-counter">
    <div fxLayout="row" class="header">
        Donation pool
      </div>
      <div fxLayout="row">
        $##,###
      </div>
  </div>
</div>
