<div fxLayout="column" class="org-container">
  <div fxLayout="row">
    <div fxLayout="column" class="logo-vote-container">
      <div fxLayout="row" class="logo">
        <div fxLayoutAlign="center center">
          <img src="{{org.logoPath}}" />
        </div>
      </div>
      <div class="vote">
        <div fxLayout="row" fxLayoutAlign="center center">
            <i class="vote-icon material-icons">check</i>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          Vote for Me
        </div>
      </div>
    </div>
    <div fxLayout="column" class="org-details">
      <div fxLayout="row" class="org-name">{{ org.name }}</div>
      <hr>
      <div fxLayout="row" class="org-blurb">{{ org.shortDesc }}</div>
      <div fxLayout="row" fxLayoutAlign="end" class="more-details-icon">
          <i class="material-icons">more_horiz</i>
        </div>
    </div>
  </div>
</div>