.home-layout-container {
}

app-counter {
  margin-bottom: 10px;
  width: 100%;
}

.voting {
  padding: 5px 25px;
  font-size: 20px;
}

.org-card {
  padding-bottom: 5px;
  
  app-org-details {
    margin-bottom: 5px;
  }
}
