<div fxLayout="column" class="register" fxLayoutAlign="start center">
  <div fxLayout="column" class="header-container" fxLayoutAlign="end center">
    <div fxLayout="row" class="logo">
      GIVCO
    </div>
  </div>
  <div fxLayout="column" class="register-details">
    <div fxLayout="row" class="section-title">Name: </div>
    <div fxLayout="row">
      <input type="text" name="name" />
    </div>
    <div fxLayout="row" class="section-title">Email: </div>
    <div fxLayout="row">
      <input type="email" name="email" />
    </div>
    <div fxLayout="row" class="section-title">Phone: </div>
    <div fxLayout="row">
      <input type="test" name="phone" />
    </div>
    <div fxLayout="row" class="section-title">Password: </div>
    <div fxLayout="row">
      <input type="password" name="password" />
    </div>
    <div class="register" routerLink="/home">Create Account</div>
  </div>
</div>
