<div fxLayout="column" class="register" fxLayoutAlign="start center">
  <div fxLayout="column" class="header-container" fxLayoutAlign="end center">
    <div fxLayout="row" class="logo">
      GIVCO
    </div>
  </div>
  <div fxLayout="column" class="register-details" fxLayoutAlign="center center">
    <div fxLayout="row">
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div fxLayout="row">
      <input type="email" name="email" placeholder="Email"/>
    </div>
    <div fxLayout="row">
      <input type="test" name="phone" placeholder="Phone"/>
    </div>
    <div fxLayout="row">
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <div fxLayout="row">
        <input type="password" name="password" placeholder="Confirm Password"/>
      </div>
    <div class="register" routerLink="/home">Create Account</div>
  </div>
</div>
