<div fxLayout="column" class="org-container">
  <div fxLayout="row">
    <div fxLayout="column">
      <div fxLayout="row">
        <img src="https://via.placeholder.com/100" />
      </div>
      <div class="vote">
        <div fxLayout="row" fxLayoutAlign="center center">
            <i class="material-icons">check</i>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          Vote for Me
        </div>
      </div>
    </div>
    <div fxLayout="column" class="org-details">
      <div fxLayout="row" class="org-name">ORG NAME</div>
      <div fxLayout="row" class="org-blurb">Aliuasdfljha asdflauoiar asldjfhadgnoa l;asfj asdof8uawerh gal;hjsdf 0oasgjhasdfn 'oiweufal;khasg aslkfasdfoyu asgjhasdgf;</div>
      <div fxLayout="row" fxLayoutAlign="end" class="more-details-icon">
          <i class="material-icons">more_horiz</i>
        </div>
    </div>
  </div>
</div>