.org-container {
  border: 1px solid black;
  background-color: white;
  padding-bottom: 10px;

  .vote {
    padding-left: 0 0 5px 5px;
  }

  .org-details {
    padding: 10px 20px 0 20px;

    .org-name {
      padding-bottom: 5px;
      font-size: 18px;
    }
  }
}