<div fxLayout="column" class="login" fxLayoutAlign="start center">
  <div fxLayout="column" class="header-container" fxLayoutAlign="end center">
    <div fxLayout="row" class="logo">
      GIVCO
    </div>
  </div>
  <div fxLayout="column" class="login-details" fxLayoutAlign="center center">
    <div fxLayout="row">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div fxLayout="row">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div fxFlex class="button" (click)="onLogin()">Log In</div>
    <div fxFlex class="register" routerLink="/register">Create An Account</div>
    <mat-tab>alsdkfj</mat-tab>
  </div>
</div>
